# deps
node_modules/
.pnp
.pnp.js

# next
.next/
out/
build/
dist/

# vercel
.vercel

# env
.env
.env.local
.env.*.local

# tooling
*.tsbuildinfo
next-env.d.ts

# OS
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
